# Environment Variables
.env
.env.example

# Personal Data
contacts.json
whatsapp_profile/

# Python / System
__pycache__/
*.pyc
.DS_Store
venv/
.python-version

# Logs and User Notes
*.log
PyWhatKit_DB.txt

# Generated Runtime Content
assets/detection_*.jpg
assets/photo_*.jpg
venv_trash/

# Large model files
yolov8n.pt
